aside.main-sidebar
    section.sidebar
        .user-panel
            .pull-left.image
                img(src='/adminlte/dist/img/avatar.png',alt='User Image').img-align-left.img-circle
            .pull-left.info
                p Fluffy Puffy 
                a(href='#')
                    i.fa.fa-globe-europe.text-success
                    | Online
        form(action='#',method='get').sidebar-form
            
        